<div style="display: flex; height: 100%;">
  <app-new-menu-project [projectId]="projectId" [selectedMenu]="'test-runs'"></app-new-menu-project>
  <div>
    <section>
      <app-header></app-header>
      <div>
        <link type="text/css" rel="stylesheet" href="https://static.testrail.io/7.5.4.2008/css/app-modern-combined.css"
          media="all" />
        <link type="text/css" rel="stylesheet" href="https://static.testrail.io/7.5.4.2008/css/font.css" media="all" />
        <link type="text/css" rel="stylesheet" href="https://static.testrail.io/7.5.4.2008/css/drilldown.css"
          media="all" />
        <link type="text/css" rel="stylesheet" href="https://static.testrail.io/7.5.4.2008/css/brand/style.css"
          media="all" />
        <link type="text/css" rel="stylesheet" href="https://static.testrail.io/7.5.4.2008/css/brand/brand-modern.css"
          media="all" />
        <link type="text/css" rel="stylesheet" href="https://static.testrail.io/7.5.4.2008/css/assembla.css"
          media="all" />
        <link type="text/css" rel="stylesheet"
          href="https://static.testrail.io/7.5.4.2008/css/banner-enterprise-modern.css" media="all" />
        <link type="text/css" rel="stylesheet" href="https://static.testrail.io/7.5.4.2008/css/autocomplete.css"
          media="all" />
        <link rel="shortcut icon" href="https://static.testrail.io/7.5.4.2008/images/favicon.ico" />
        <div class="table" style="height: 100%;">
          <div id="content" class="column content overflow-content">
            <div id="notificationbar" class="notificationbar notificationbar-hidden">
            </div>
            <div class="notificationbar notificationbar-local">
            </div>
            <div id="content-header" class="content-header content-header-default">
              <div class="content-header-inner">
                <div class="content-header-result"></div>
                <div class="content-header-id">{{testRunId}}</div>
                <span id="subscribed" class="content-header-icon hidden">
                  <a class="unsubscribe link-tooltip"
                    tooltip-text="Unsubscribe from email updates on test changes for this test run.">
                    <div class="icon-unsubscribe"></div>
                  </a>
                  <span class="hidden busy">
                    <div class="icon-progress-standard"></div>
                  </span>
                </span>
                <div class="content-header-title page_title">{{testRunName}}</div>
              </div>
            </div>
            <script type="text/javascript">
              $("#sites").prop("selectedIndex", 0);
            </script>
            <div id="content-inner" class="content-inner goals-clear">
              <div id="groupContainer" style="margin-top: 1.5em; display: block;">
                <div id="groupContent">
                  <div id="groups">
                    <div *ngFor="let section of map | keyvalue" id="section-4" rel="4" class="group grid-container">
                      <div class="grid-title">
                        <span class="title" id="sectionName-4">{{section.key}}</span>
                        <span class="text-secondary section-count" id="sectionCount-4">{{section.value.length}}</span>
                        <span id="sectionBusy-4" class="busy" style="display: none;">
                          <div class="icon-progress-inline"></div>
                        </span>
                      </div>
                      <div id="sectionDesc-4" class="hidden remove_scroll_add_margin scroll-auto">
                        <div class="scroll-auto-inner markdown">
                        </div>
                      </div>
                      <table id="grid-4" class="grid" style="margin-bottom: 0.75em">
                        <tbody>
                          <tr class="header">
                            <th>
                              <span>ID</span>
                              <div class="column-actions">
                              </div>
                            </th>
                            <th><span>Title</span>
                              <div class="column-actions">
                              </div>
                            </th>
                            <th>
                            </th>
                            <th>
                              <span style="float: right;" class="hidden-xs">Status</span>
                            </th>
                          </tr>
                          <tr *ngFor="let result of section.value" id="row-{{result.resultId}}" class="row odd">
                            <td class="id">
                              {{result.resultId}}
                            </td>
                            <td>
                              {{result.caseName}}
                            <td class="js-status" rel="4">
                            </td>
                            <td class="js-status" rel="4">
                              <!-- <a id="a-{{result.resultId}}" #button (click)="openDropDown($event)"
                          *ngIf="result.status == 'Untested'" class="custom-dropdown dropdownLink status hidden-xs"
                          style="background: #737373; color: #ffffff">{{result.status}}<span
                            class="custom-dropdown caret button-caret"></span></a>
                        <a id="a-{{result.resultId}}" #button (click)="openDropDown($event)"
                          *ngIf="result.status == 'Passed'" class="custom-dropdown dropdownLink status hidden-xs"
                          style="background: #338a41; color: #ffffff">{{result.status}}<span
                            class="custom-dropdown caret button-caret"></span></a>
                        <a id="a-{{result.resultId}}" #button (click)="openDropDown($event)"
                          *ngIf="result.status == 'Blocked'" class="custom-dropdown dropdownLink status hidden-xs"
                          style="background: #474747; color: #ffffff">{{result.status}}<span
                            class="custom-dropdown caret button-caret"></span></a>
                        <a id="a-{{result.resultId}}" #button (click)="openDropDown($event)"
                          *ngIf="result.status == 'Retest'" class="custom-dropdown dropdownLink status hidden-xs"
                          style="background: #b99109; color: #ffffff">{{result.status}}<span
                            class="custom-dropdown caret button-caret"></span></a>
                        <a id="a-{{result.resultId}}" #button (click)="openDropDown($event)"
                          *ngIf="result.status == 'Failed'" class="custom-dropdown dropdownLink status hidden-xs"
                          style="background: #a9093a; color: #ffffff">{{result.status}}<span
                            class="custom-dropdown caret button-caret"></span></a> -->
                              <button [ngStyle]="{'cursor': (isCompleted ? 'unset' : 'pointer')}"
                                [disabled]="isCompleted" #button (click)="openDialog(result.status, result.resultId)"
                                *ngIf="result.status == 'Untested'" class="dropdownLink status hidden-xs"
                                style="border: unset; float: right; background: #737373; color: #ffffff">{{result.status}}
                                <span class="caret button-caret"></span>
                              </button>
                              <button [ngStyle]="{'cursor': (isCompleted ? 'unset' : 'pointer')}"
                                [disabled]="isCompleted" #button (click)="openDialog(result.status, result.resultId)"
                                *ngIf="result.status == 'Passed'" class="dropdownLink status hidden-xs"
                                style="border: unset; float: right; background: #338a41; color: #ffffff">{{result.status}}
                                <span class="caret button-caret"></span>
                              </button>
                              <button [ngStyle]="{'cursor': (isCompleted ? 'unset' : 'pointer')}"
                                [disabled]="isCompleted" #button (click)="openDialog(result.status, result.resultId)"
                                *ngIf="result.status == 'Blocked'" class="dropdownLink status hidden-xs"
                                style="border: unset; float: right; background: #474747; color: #ffffff">{{result.status}}
                                <span class="caret button-caret"></span>
                              </button>
                              <button [ngStyle]="{'cursor': (isCompleted ? 'unset' : 'pointer')}"
                                [disabled]="isCompleted" #button (click)="openDialog(result.status, result.resultId)"
                                *ngIf="result.status == 'Retest'" class="dropdownLink status hidden-xs"
                                style="border: unset; float: right; background: #b99109; color: #ffffff">{{result.status}}
                                <span class="caret button-caret"></span>
                              </button>
                              <button [ngStyle]="{'cursor': (isCompleted ? 'unset' : 'pointer')}"
                                [disabled]="isCompleted" #button (click)="openDialog(result.status, result.resultId)"
                                *ngIf="result.status == 'Failed'" class="dropdownLink status hidden-xs"
                                style="border: unset; float: right; background: #a9093a; color: #ffffff">{{result.status}}
                                <span class="caret button-caret"></span>
                              </button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>





          <div id="qpane-splitter" class="column splitter qpane-splitter" style="display: none">
          </div>
          <div id="qpane" class="column qpane" style="width: 600px; display: none">
            <div id="qpane-empty" class="qpane-empty hidden">
              <div class="qpane-empty-header">
                No test case selected. </div>
              <div class="qpane-empty-body">
                You can select a different group or change the filters. </div>
            </div>
            <div id="qpane-inner">
              <div id="qpaneSticky">
                <div id="qpane-content">
                </div>
              </div>
            </div>
          </div>
          <div id="sidebar-splitter" class="column splitter sidebar-splitter">
          </div>
          <div id="sidebar" class="column sidebar" style="width: 250px">

            <div class="sidebar-inner">
              <p style="margin: 0">
                Created on {{createDate}}
              </p>
            </div>

            <div class="sidebar-menu">
              <ul>
                <li class="sidebar-menu-item sidebar-menu-item-first sidebar-menu-item-selected">
                  <a id="navigation-runs-testsresults">
                    Tests &amp; Results</a>
                </li>
              </ul>
            </div>
            <div class="sidebar-inner">
            </div>
          </div>
        </div>

      </div>

      <div id="statusDropdown" #statusDropdown class="dropdown dropdown-menu"
        [ngStyle]="{'top': top, 'left': left, 'width': '175px', 'display': 'block', 'position': 'absolute' }"
        *ngIf="top && left">
        <ul>
          <li>
            <a class="dropdown-menu-link">
              <span class="status-mini" style="float: left; margin: 1px 5px 0 0; background: #338a41"></span>Passed</a>
          </li>
          <li class="dropdown-menu-separator"></li>
          <li>
            <a class="dropdown-menu-link">
              <span class="status-mini" style="float: left; margin: 1px 5px 0 0; background: #474747"></span>Blocked</a>
          </li>
          <li class="dropdown-menu-separator"></li>
          <li>
            <a class="dropdown-menu-link">
              <span class="status-mini" style="float: left; margin: 1px 5px 0 0; background: #b99109"></span>Retest</a>
          </li>
          <li class="dropdown-menu-separator"></li>
          <li>
            <a class="dropdown-menu-link">
              <span class="status-mini" style="float: left; margin: 1px 5px 0 0; background: #a9093a"></span>Failed</a>
          </li>
        </ul>
      </div>
    </section>
  </div>
</div>
