<header>
  <div id="menu-project">
    <div id="top">
      <div id="top-logo">
        <a routerLink="javascript:void(0)" id="bannerLink"><img
            src="https://static.testrail.io/7.5.5.2003/images/layout/testrail-logo.svg"></a>
      </div>
      <div class="top-panel">
        <div class="top-panel-inner">
          <ul class="top-menu pull-right">
            <li class="top-menu-item">
              <a class="dropdownLink" id="navigation-user" routerLink="#userDropdown">
                <span class="navigation-username">{{getFullname()}}</span>
              </a>
            </li>
            <li class="top-menu-item">
              <span style="cursor: pointer;" class="navigation-username">Logout</span>
            </li>
          </ul>
          <div class="top-search">
            <form action="index.php?/search/index/1" style="display: inline" method="post"> <input type="hidden"
                name="_token" value="qGt3kRwAo24ugb2redt4"> <input class="top-search-control" type="text" name="query"
                tabindex="-1">
            </form>
          </div>
        </div>
      </div>
      <div class="top-section top-section-with-return text-ppp">
        <span id="return">
          <a class="link-noline" id="navigation-dashboard-top" routerLink="/">
            ← Return to Dashboard
          </a>
        </span>
        <a class="link-noline" id="navigation-project" routerLink="/overview">{{getProjectName()}}</a>
      </div>
    </div>

    <form id="newsletterForm" target="_blank" action="https://secure.gurock.com/customers/testrail/newsletter?email="
      method="post">
      <input name="cm-ahdml-ahdml" id="newsletter" type="hidden">
    </form>

    <div id="header">
      <ul class="header-menu">

        <li class="header-menu-item"><a tabindex="-1" [routerLink]="['/overview', projectId]"
            id="navigation-overview">Overview</a>
        </li>
        <li class="header-menu-item"><a tabindex="-1" [routerLink]="['/milestones', projectId]"
            id="navigation-milestones">Milestones</a>
        </li>
        <li class="header-menu-item"><a tabindex="-1" [routerLink]="['/test-runs', projectId]" id="navigation-runs">Test
            Runs
            &amp;
            Results</a></li>
        <li class="header-menu-item"><a tabindex="-1" [routerLink]="['/test-cases', projectId]"
            id="navigation-suites">Test Cases</a>
        </li>
        <li class="header-menu-item"><a tabindex="-1" [routerLink]="['/reports', projectId]"
            id="navigation-reports">Reports</a>
        </li>
      </ul>
    </div>
  </div>
</header>
