::ng-deep .mat-mdc-dialog-container .mdc-dialog__surface {
  overflow: hidden;
}
::ng-deep .mdc-dialog__container {
  display: block;
  z-index: 1004;
  outline: 0px;
  height: 425px;
  width: 650px;
}
