<div id="statusDropdown" class="dropdown dropdown-menu"
  style="width: 175px; left: 1497px; top: 556.188px; display: block;">
  <ul>
    <li>
      <a class="dropdown-menu-link"
        >
        <span class="status-mini" style="float: left; margin: 1px 5px 0 0; background: #338a41"></span>Passed</a>
    </li>
    <li class="dropdown-menu-separator"></li>
    <li>
      <a class="dropdown-menu-link"
        >
        <span class="status-mini" style="float: left; margin: 1px 5px 0 0; background: #474747"></span>Blocked</a>
    </li>
    <li class="dropdown-menu-separator"></li>
    <li>
      <a class="dropdown-menu-link"
        >
        <span class="status-mini" style="float: left; margin: 1px 5px 0 0; background: #b99109"></span>Retest</a>
    </li>
    <li class="dropdown-menu-separator"></li>
    <li>
      <a class="dropdown-menu-link"
        >
        <span class="status-mini" style="float: left; margin: 1px 5px 0 0; background: #a9093a"></span>Failed</a>
    </li>
  </ul>
</div>
